.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 50px; */
}

.main-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
}

.main-actions {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 50px;
  /* background-color: aqua; */
  /* z-index: 2; */
}

.main-toolbar {
  display: flex;
  position: relative;
  /* background-color: #7c629f; */
  height: fit-content;
}


.main-toolbar * {
  margin: 2px;
  /* box-shadow: 0px 1px 3px #0000000d inset, 0px 0px 15px #011b23; */
}

.clear {
  height: 40px;
  height: fit-content;
  border-radius: 5px;
  border: none;
  padding: 9px;
  background-color: #011b23;
  color: aqua;
  justify-content: center;
  align-content: center;
}

.clear:hover {
  transform: scale(1.1);
  background-color: #7c629f;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.sketcheslist {
  z-index: 2;

}

.dropdown-togglebtn {
  background-color: #011b23;
  padding: 8px;
  border-radius: 5px;
}

.dropdown-togglebtn:hover {
  transform: scale(1.1);
  background-color: #7c629f;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #011b23;
  padding: 10px;
  z-index: 2;
}

.dropdown-content * {
  border-radius: 5px;
  background-color: #011b23;
  color: aqua;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: none;
}

.dropdown-content *:hover {
  transform: scale(1.1);
  background-color: #7c629f;
  border: none;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
}

.collabslist {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px #011b23;
  padding: 10px;
  z-index: 2;
}

.collabslist * {
  border-radius: 5px;
  background-color: #011b23;
  color: aqua;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: none;
}


.collabslist *:hover {
  transform: scale(1.1);
  background-color: #7c629f;
  border: none;
  color: white;
}

.dropdown:hover .collabslist {
  display: block;
  display: flex;
  flex-direction: column;
}


.main-newsketch {
  background-color: aqua;
  color: #011b23;
}

.main-modal-parent {
  position: fixed;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-modal {
  background-color: #011b23;
  position: fixed;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px #011b23;
}

.main-modal>input {
  width: 100%;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 10px;
}

.main-modal>button {
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  background-color: #7c629f;
  color: white;
  border: none;
}

.main-modal>button:hover {
  transform: scale(1.1);
  background-color: #4f2d7b;
}

.main-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 10vh;
  background-color: #011b23;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main-loading>div {
  font-size: 50px;
  opacity: 1;
}