.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
  /* background-color: orange; */
}

.App>div {
  background-color: #011b23;
  color: aqua;
  height: 90vh;
}
